[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
gunicorn = "*"
django-rest-swagger = "*"
django-filter = "*"
django-rest-auth = "*"
django-chartit = "*"

[dev-packages]

[requires]
python_version = "3.5"
